@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: block;
    margin: 8px;
    background: #fff;
}

body, 
input, 
button {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    color: #222;
}

body, 
html {
    min-width: 400px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-bar {
    flex-shrink: 0;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a.nav-left {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

a.nav-left:first-of-type {
    margin-left: 15px;
}

.nav-right {
    display: inline-block;
    flex-grow: 1;
}

.nav-right-1 {
    color: black;
    position: relative;
    transition: box-shadow 250ms;
    height: 48px;
    z-index: 986;
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    min-width: auto;
}

.nav-right-2 {
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-user-select: none;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px 0 0;
    flex: 0 0 auto;
    justify-content: flex-end;
    float: right;
}

.gmail-images {
    font-family: Arial, sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.gmail,
.images {
    display: inline-block;
    padding-left: 15px;
}

.nav-right-selector {
    display: inline-block;
    line-height: 24px;    display: inline-block;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    cursor: pointer;
}

.act-apps-1 {
    position: relative;
    float: right;
}

.right-apps {
    display: inline;
}

.right-apps-1 {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.right-apps-2 {
    position: relative;
}

.apps {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    padding: 8px;
    background-position: -64px -29px;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.right-acct {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    flex: 0 1 auto;
}

.right-acct-1 {
    position: relative;
    flex-grow: 0 1 auto;
}

.accout {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    flex: 0 1 auto;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.google-logo {
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 290px;
    height: calc(100% - 560px);
    min-height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-logo-2 {
    height: 100%;
    margin-top: auto;
    max-height: 92px;
    position: relative;
}

#google-logo {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.search {
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 160px;
    padding: 20px;
}

form {
    display: block;
    margin-top: 0em;
}

.search-1 {
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
}


.search-2 {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.search-3 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.search-icon {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

#search-icon-sm {
    margin: auto;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.search-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.search-box-2 {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

#search-box {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.mic-icon {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row; 
}

#mic-icon {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.search-button {
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    height: 70px;
}

center {
    display: block;
    text-align: -webkit-center;
}
